server:
  port: 8082

spring:
  application:
    name: user-service
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
      config:
        server-addr: localhost:8848
    sentinel:
      transport:
        dashboard: localhost:8080
